 body {
   background-color: rgb(131, 177, 252);
 }

 #map {
   width: 600px;
   height: 600px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
 }
#meh{
font-family: "Courier New", Courier, monospace
}
#month{
font-family: "Courier New", Courier, monospace
}

.mapboxgl-popup {
max-width: 400px;
font-family: 12px/20px "Courier New", Courier, monospace
}
#constabulary{
font-family: "Courier New", Courier, monospace
}
